* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.377),
      rgba(0, 0, 0, 0.377)
    ),
    url(antoine-dautry-_zsL306fDck-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-div {
  background-color: rgba(255, 255, 255, 0.342);
  border-radius: 20px;
  width: 90%;
  height: 90dvh;
  backdrop-filter: blur(10px);
}
